.scratchCategoryMenu {
  width: 60px;
  background: #FFFFFF;
  color: #575E75;
  font-size: .7rem;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.scratchCategoryMenuItem.categorySelected {
  background: #E9EEF2;
}

.scratchCategoryMenuItem {
  padding: 0.375rem 0px;
  cursor: pointer;
  text-align: center;
}

.scratchCategoryItemBubble {
  width: 1.25rem;
  height: 1.25rem;
  border: 1px solid;
  border-radius: 100%;
  margin: 0 auto 0.125rem;
}
.scratchCategoryMenuItemLabel {
  font-size: 0.65rem;
}
